@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 2, 2, 8;
  --color-btn-primary-text: 0, 0, 0;
  --borderWidth-thin: max(1px, 0.0625rem);
  --color-border-default: #30363d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer components {
  .sr-only {
    @apply absolute h-1 w-1 overflow-hidden whitespace-normal border-0 p-0;
  }

  .btn {
    @apply relative inline-block cursor-pointer select-none appearance-none whitespace-nowrap rounded-md border border-transparent px-4 py-[5px] align-middle text-sm;
  }

  .btn-primary {
    @apply bg-green-700 text-white;
  }

  .icon {
    @apply inline-block overflow-visible fill-current align-text-bottom;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

.global-navbar-end {
  @apply flex justify-end gap-2;
  flex: 0 1 auto;
}

.global-action-menu::before {
  display: block;
  width: 1px;
  height: 20px;
  height: 20px;
  content: '';
  background: #30363d;
  margin-block: calc((32px - 20px) / 2);
}

.global-navbar-end .user {
  @apply relative rounded-[50%];
  background-color: rgba(110, 118, 129, 0.4);
}

.header-shadow-b {
  box-shadow: inset 0 calc(var(--borderWidth-thin, 1px) * -1)
    var(--color-border-default);
}

.header-sidebar-btn {
  @apply relative grid h-8 w-8 auto-cols-max items-center justify-center rounded-md border bg-transparent;
  border-color: #30363d;
}

.btn--iconOnly {
  @apply inline-grid w-8 place-content-center;
  padding: unset;
}

.btn--secondary {
  fill: #7d8590;
  background-color: transparent;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent;
  color: #7d8590;
}

.Button {
  align-items: center;
  background-color: initial;
  border: max(1px, 0.0625rem) solid;
  border-color: #0000;
  border-radius: 6px;
  color: #c9d1d9;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25rem;
  height: 2rem;
  justify-content: space-between;
  min-width: max-content;
  padding: 0 0.75rem;
  position: relative;
  text-align: center;
  transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: color, fill, background-color, border-color;
  -webkit-user-select: none;
  user-select: none;
}

.Button.logo {
  border: 0;
  width: 32px;
  height: 32px;
  outline-offset: 2px;
  padding: 0;
}

.Button--content {
  align-items: center;
  display: grid;
  flex: 1 0 auto;
  grid-template-areas: 'leadingVisual text trailingVisual';
  grid-template-columns: min-content minmax(0, auto) min-content;
  place-content: center;
}

.Button--label {
  grid-area: text;
  line-height: 1.42857;
  white-space: nowrap;
}

header nav ul li {
  flex: 0 1 max-content;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
}

header nav ul li a {
  display: flex;
  align-items: center;
  min-width: 3ch;
  line-height: 1.4285714286;
  color: inherit;
  border-radius: 6px;
  padding-inline: 8px;
  padding-block: 6px;
}

header nav ul li:first-child {
  flex: 0 100 max-content;
}

header nav ul li:last-child {
  font-weight: 600;
}

.dashboard-link {
  margin-block: calc(8px * -1);
  padding-block: 6px;
  padding-inline: 8px;
}

.UnderlineNav-item {
  align-items: center;
  background-color: initial;
  border: 0;
  border-radius: 6px;
  color: #e6edf3;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  line-height: 30px;
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.UnderlineNav-item:before {
  content: '';
  height: 100%;
  left: 50%;
  min-height: 48px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.UnderlineNav-item [data-content]:before {
  content: attr(data-content);
  display: block;
  font-weight: var(--base-text-weight-semibold, 600);
  height: 0;
  visibility: hidden;
}

.UnderlineNav-item.selected,
.UnderlineNav-item[aria-current]:not([aria-current='false']),
.UnderlineNav-item[role='tab'][aria-selected='true'] {
  border-bottom-color: #f78166;
  color: #e6edf3;
  font-weight: 600;
}

.UnderlineNav-item.selected:after,
.UnderlineNav-item[aria-current]:not([aria-current='false']):after,
.UnderlineNav-item[role='tab'][aria-selected='true']:after {
  background: #f78166;
  border-radius: 6px;
  bottom: calc(50% - 25px);
  content: '';
  height: 2px;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  z-index: 1;
}

.Counter {
  background-color: #6e768166;
  border: max(1px, 0.0625rem) solid transparent;
  border-radius: 2em;
  color: #e6edf3;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: calc(1.25rem - max(1px, 0.0625rem) * 2);
  min-width: 1.25rem;
  padding: 0 6px;
  text-align: center;
}

.Box {
  background-color: #30363d;
  border-color: #30363d;
  border-style: solid;
  border-width: max(1px, 0.0625rem);
  border-radius: 6px;
}

@media (min-width: 544px) {
  .Box--responsive {
    margin-right: 0;
    margin-left: 0;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
  }
}

.Box-header {
  padding: 1rem;
  margin: calc(max(1px, 0.0625rem) * -1) calc(max(1px, 0.0625rem) * -1) 0;
  background-color: #161b22;
  border-color: #30363d;
  border-style: solid;
  border-width: max(1px, 0.0625rem);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Box-row {
  padding: 0.5rem 1rem;
  margin-top: calc(max(1px, 0.0625rem) * -1);
  list-style-type: none;
  border-top-color: #6e768166;
  border-top-style: solid;
  border-top-width: max(1px, 0.0625rem);
}

.Box-body:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: calc(max(1px, 0.0625rem) * -1);
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--avatar-bgColor, var(--color-avatar-bg));
  border-radius: var(--borderRadius-medium, 6px);
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--avatar-borderColor, var(--color-avatar-border));
}

.AvatarStack-body .avatar {
  position: relative;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  margin-right: -11px;
  background-color: var(--bgColor-default, var(--color-canvas-default));
  border-right: var(--borderWidth-thin, max(1px, 0.0625rem)) solid
    var(--bgColor-default, var(--color-canvas-default));
  border-radius: var(--borderRadius-small, 3px);
  box-shadow: none;
  transition: margin 0.1s ease-in-out;
}

.details-overlay > div {
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}

.file-nav::before,
.clearfix::before {
  display: table;
  content: '';
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
